#aspire {
  --color-primary: #0c365a;
  --color-primary-light: #325baf;
  --color-primary-lighter: #536DFF;
  --color-secondary: #01d167;
  --color-accent: #23cefd;
  --color-positive: #01d167;
  --color-negative: #c10015;
  --color-info: #23cefd;
  --color-warning: #f2c037;
  --color-gray-1: #ddd;
  --color-gray-2: #edf3ff;
  --color-gray-3: #f5f9ff;
  --border-gray: #f5f5f5;
}
